
@font-face {
    font-family: 'Mona Sans';
    src: url('./assets/fonts/MonaSans[slnt,wdth,wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-stretch: 50% 150%;
    font-style: oblique 0deg 12deg;
}

@font-face {
    font-family: 'Mona Sans Condensed Black';
    src: url('./assets/fonts/MonaSansCondensed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mona Sans Expanded Bold';
    src: url('./assets/fonts/MonaSansExpanded-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

