@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

body {
    margin: 0;
    padding: 0;
}

.port {
    background-color: #09090D;
}

.section1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('public/images/hero.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Mona Sans Condensed Black', sans-serif;
    color: #f5d604;
    font-size: 14em;
    line-height: 0.8em;
    margin: 0;
}

.avatar {
    height: 250px;
    margin-left: 20px;
    filter: grayscale(100%);
    transition: filter 0.2s ease;
}

.avatar:hover {
    filter: grayscale(0%);
}

.top-left {
    position: absolute;
    top: 5%;
    left: 5%;
}

.resume-button {
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #E4DED7;
    color: #E4DED7;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.top-right {
    position: absolute;
    top: 5%;
    right: 5%;
}

.social-link {
    color: #E4DED7;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Syne', sans-serif;
    font-weight: Bold;
}

.bottom-left {
    text-align: left;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    line-height: 1.5em;
    font-family: 'Mona Sans Expanded Bold', sans-serif;
}

.bottom-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
    line-height: 1.5em;
    font-family: 'Mona Sans Expanded Bold', sans-serif;
    text-align: right;
}

/* Section 2 styles */
.section2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
    background-color: #09090D;
}

.laptop-background {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop-bg {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.video-port {
    position: relative;
    z-index: 2;
    width: 80%;
    height: auto;
}

.project-info {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Syne', sans-serif;
}

.project-icons {
    display: flex;
    margin-top: 1em;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: #09090D;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 1em;
}

.project-details h2 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em 0;
}

.project-details {
    color: #9D9D9E;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em 0;
}

.project-tags {
    font-size: 1em;
    color: #FFFFFF;
    margin-top: 0.5em;
    font-weight: bold;
}



.section3 {
    background-color: #09090D;
    color: #E4DED7;
    padding: 50px 12%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

#section-title {
    font-family: 'Syne', sans-serif;
    font-size: 4.5em;
    font-weight: bold;
    line-height: 1;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#section-content {
    max-width: 55%;
}

#description1, #description2, #description3 {
    font-family: 'Syne', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin: 20px 0;
}

#tools {
    max-width: 25%;
}

.tool-section {
    margin-top: 15px;
}

#frontend-tools .tools-title, #ui-libraries .tools-title, #design-tools .tools-title {
    font-family: 'Syne', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#frontend-tools .tools-list, #ui-libraries .tools-list, #design-tools .tools-list {
    font-family: 'Syne', sans-serif;
    font-size: 1em;
    font-weight: normal;
}

.contact-section {
    padding: 100px 10%;
    background-color: #09090D;
    color: #E4DED7;
    text-align: center;
}

.contact-title {
    font-family: 'Mona Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 25em;
    margin: 0;
}

.availability-text {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2em;
    margin-top: -50px; /* Adjust based on your layout */
    margin-left: 5px; /* Adjust based on your layout */
    color: #E4DED7;
}


.contact-content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.contact-left, .contact-right {
    flex: 1;
}

.contact-left {
    text-align: left;
}

.contact-right {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.contact-text {
    font-family: 'Syne', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.contact-email, .contact-social {
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #E4DED7;
    text-decoration: none;
}

.contact-email {
    text-decoration: underline;
}


.footer {
    margin-top: 50px;
    text-align: center;
}

.footer hr {
    border: none;
    border-top: 1px solid #E4DED7;
    margin-bottom: 20px;
}

.footer-text {
    font-family: 'Syne', sans-serif;
    font-size: 12px;
    text-align: left;
    color: #E4DED7;
}


.video-showcase {
    background-color: #09090D;
    font-family: 'Syne', sans-serif;
    font-size: 2em;
    padding: 50px 0;
    text-align: center;
}

.video-showcase h2 {
    color: #E4DED7;
}

.video-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.video-item {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 500px;
    cursor: pointer;
    transition: width 0.3s ease;
}

.video-item:hover {
    width: 500px;
}

.video-thumbnail, .video-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.video-thumbnail {
    opacity: 1;
    filter: grayscale(100%);

}

.video-item:hover .video-thumbnail {
    opacity: 0;
    filter: grayscale(0%);
}

.video-gif {
    opacity: 0;
}

.video-item:hover .video-gif {
    opacity: 1;
}

.video-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-item:hover .video-info {
    opacity: 1;
}

.video-title {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.video-arrow {
    font-size: 24px;
}



/* Responsive styling */
@media (max-width: 1200px) {
    h1 {
        font-size: 12em;
    }

    .avatar {
        height: 200px;
    }

    .laptop-bg {
        width: 100%;
    }

    .video-port {
        width: 70%;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 10em;
    }

    .avatar {
        height: 150px;
    }

    .section2 {
        flex-direction: column;
    }

    .laptop-background,
    .project-info {
        width: 100%;
        text-align: center;
    }

    .project-info {
        align-items: center;
    }

    .project-icons {
        justify-content: center;
    }
}
